<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='batch_predict.css') }}">
    <title>Live Web Cam</title>
</head>
<body>

    <button id="startDetection">Start Detection</button>
    <script>
        $(document).ready(function() {
            // Attach click event to the button
            $("#startDetection").click(function() {
                // Make a GET request to the Flask route
                $.get("/web_cam", function(data) {
                    // Handle the response (if needed)
                    console.log(data);
                });
            });
        });
    </script>
</body>
</html>
